@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This web application allows you to create, read, update, and delete information about a movie. This project is built through asp.net MVC using mainly c#.</p>
