@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Name: Chris Chung <br/>
    Phone number: Not listed
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:chrissuhchung@gmail.com">chrissuhchung@gmail.com</a>
</address>